<br>
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to GV News</h1>
    <p class="lead">Keep yourself up to date!</p>
    <hr class="my-4">

    <br>
  </div>

  <div class="container">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AzKm1lpNGZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <br>
  <div class="container text-center">
    <h3>What We Do</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p class="lead">2019 Best University Newspaper </p>
      </div>
      <div class="col-sm-4">
        <img src="http://cachevalleyrealtors.com/wp-content/uploads/2018/10/award-icon-06-300x298.png" class="img-responsive" style="width:50%" alt="Image">
        <p class="lead">2019 Best University Newspaper </p>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <p>Some text..</p>
        </div>
        <div class="well well-sm">Some text..</div>
      </div>
    </div>

  </div>


</div>

  <footer class="container-fluid text-center">
    <p>&copy; 2019 GV News</p>
  </footer>